@use "../abstracts/" as *;
.is-flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.is-big {
  display: none;
}
.wrap-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  height: 60px;
  a {
    text-decoration: none;
    color: rgb(82, 211, 170);
    font-size: larger;
  }
  .linkz {
    gap: 2rem;
  }
}
.green-btn {
    background-color: #63E6BE;
    text-decoration: none;
    color: white;
    padding: 2px 4px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    font-weight: 400;
    text-transform:uppercase;
    &:hover {
        background-color: transparent;
        border: solid 1px rgb(255, 255, 255);
    }

}
body {
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  h1 {
    font-size: 50px;
  }
}
header {
  background-image: url(/img/full_image_2.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  color: #ffffff;
  text-align: center;
  position: relative;
  &::before{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,rgba(42, 123, 155, 0.4) 0%, rgba(87, 199, 133, 0.4) 50%, rgba(237, 221, 83, 0.4) 100%);
    }
  a {
    text-decoration: dotted;
    color: white;
    font-size: 20px;
  }
  .wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }
}
.depassage {
    background-color: #63E6BE;
    height: 100px;
}
.bloc1 {
    margin: auto;
    // height: 600px;
  .carte {
    background-color: #fff;
    height: 330px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    position: relative;
    z-index: 10;
    box-shadow: 0px 1px 5px rgb(136, 134, 134);
    
    
    p{
        color: #7f7f7f;
        font-weight: 300;
        
    }
    h3{
        font-weight: 400;
    }
    &:hover{
        p{
            color: white;
        }
        h3{
            color: white;
        }
        
        
    }
    img{
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:hover{
            opacity: 0.5;
            display: block;
            transition: 0.5s;
        }
    }
  }
  .carte:first-of-type{
    &:hover{
        &::after{
            content: url(/img/img_7.jpg);
            position: absolute;
            z-index: -2;

        }
    }
  }
  .carte:nth-of-type(2){
    &:hover{
        &::after{
            content: url(/img/img_8.jpg);
            position: absolute;
            z-index: -2;
            
        }
    }
  }
  .carte:nth-of-type(3){
    &:hover{
        &::after{
            content: url(/img/img_10.jpg);
            position: absolute;
            z-index: -2;

        }
    }
    
  }
}
.bloc2 {
    text-align: center;
    .mongrid{
        display: grid;
        grid-template-columns: repeat();
    }
}
@media (min-width: 768px) {

  .carte {
    margin-top: -5%;
  }
  .is-flex {
    flex-direction: row;
  }
  .is-big {
    display: flex;
  }
  .burger {
    display: none;
  }
//   .bloc1{
//     width: 85%;
//     .carte:first-of-type{
//         height: 350px;
//     }
//     .carte:nth-of-type(2){
//         height: 450px;
//     }
//     .carte:nth-of-type(3){
//         height: 350px;
//     }

//   }

}
